@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">

    <h1>Sistema Administrativo "Sonoviso"</h1>
    <p class="lead">Sistema elaborado para el curso de Diseño y Arquitectura de Software.</p>
    <p><a href="" class="btn btn-primary btn-lg">Ver más &raquo;</a></p>
</div>


<center>
    <img src="~/Image/sonoviso.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
</center>
<div class="row">
    <div class="col-md-4">
        <h2>Integrantes</h2>
        <p>
            Zegarra Silva, Jose  . <br />
            Granados Rivera,Genesis . <br />
            
        </p>
        <p><a class="btn btn-default" href="">Detalle &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Caracteristicas</h2>
        <p>
            Administracion de Clientes. <br />
            Administracion de Usuarios.<br />
            Administracion de Materiales.<br />
            Administracion de Medios.<br />
            Administracion de Eventos.<br />
            Administracion de Alquileres.<br />

        </p>
        <p><a class="btn btn-default" href="">Detalle &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Redes Sociales</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>

        <p><a class="btn btn-default" href="">Detalle &raquo;</a></p>
    </div>
</div>