@model IEnumerable<SonoVisos.ViewModel.AlquilerViewModel>
<br />
    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("Registra Nuevo", "Create", "Alquiler", new { @class = "btn btn-success" })
        </div>
    </div>
<br />
    <div class="row">
        <div class="col-sm-8">
            @using (Ajax.BeginForm("Index", new AjaxOptions()
        {
            UpdateTargetId = "search_result",
            HttpMethod = "Post",
            InsertionMode = InsertionMode.Replace
        }))
            {
                <div class="form-inline">
                    <div class="form-group">
                        @Html.Label("criterio", "Criterio")
                        @Html.TextBox("criterio", null, new { @class = "form-control" })
                        <button class="btn btn-darnger">Buscar</button>
                    </div>
                </div>
            }
            <br />
            <div id="search_result">
                @Html.Partial("_Index", Model)
            </div>
        </div>
    </div>
